

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="card border-dark" style="margin-top: 4em;">
        <img src="https://picsum.photos/200/300/?random" />
        <div class="card-body">
            <h4 class="card-title">Image name</h4>
            <p>Image created date</p>
        </div>
    </div>
</div>