

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-12">
    <div class="card" style="margin-top: 4em">
        <img src="https://picsum.photos/200/300/?random" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bild namn</h5>
            <a href="#" class="btn btn-primary">Ladda ner</a>
        </div>
    </div>
</div>